<%- include('partials/header-guest') %>
<div class="main container" style="margin-top: 200px;">
    <h1>Welcom to my website</h1>
    <p>If you want to have your pokemon team and your to do list you need to Login</p>
</div> 
<%- include('partials/footer'); %> 